<link rel="stylesheet" type="text/css" href="~/style.css" />

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="title">
    <h1>The Recipe Repo</h1>
    <h3>This is a place for recipes.</h3>
</div>
<div class="hero">
    <img="#" />
</div>
<div class="mainButton">
    <a asp-controller="Recipes" asp-action="Index">
        <input type="button" value="Recipes" class="btn-primary" id="btn-toRecipes" />
    </a>
</div>
